.idea/
.svn/
bin/
*.iml
*.class
*.lib
*.doc
*.docx
*.ppt
*.pptx
.hg/
**/bin/
**/target/
*.log
*.log.*
/lib/
ivy-merge.xml
.tomcatplugin
app/src/main/webapp/WEB-INF/lib/
app/src/main/webapp/WEB-INF/log
app/src/main/webapp/upfile/
app/src/main/webapp/library/ep
app/src/main/webapp/liquibase/
app/src/main/webapp/style/ep/
app/src/main/webapp/style/export/
main-db-changelog.xml
webapp/WEB-INF/classes
webapp/WEB-INF/lib
.settings/
.classpath
plugin/ep/doc
base/cn/com/egova/base/constant/SchemaConst.java
*.sql
*.fnc
*.pyc
*.bak

# H5地图
app/src/main/webapp/view/mobile/vue/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride
.history

#vscode
.vscode

#jrebel
rebel.xml
/doc/_book/
/doc/node_modules/
doc/package-lock.json
app/src/main/startup

**.project

wizdom.ipr
wizdom.iws

# gather
plugin/statgather/python/venv/